form {
    margin: 0 auto;
    width: 300px;
}

[type="text"] {
    width: 269px;
    margin-left: 11px;
    margin-bottom: 46px;
    border: none;
    border: 10px solid grey;
    outline: 5px solid green;
    padding:5px;
    background: yellow;
}

.email-bg {
    position: relative;
    width: 269px;
    height:16px;
    margin-bottom: 15px;
    background: linear-gradient(90deg, #AB47BC 0%, #7B1FA2 100%);
}
[type="email"] {
    position: absolute;
    background: white;
    top:0;
    width: 269px;
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
}

[type="email"]:focus {
    border:none;
}
